body {
    /* background-color: rgb(0, 0, 0); */
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    /* font-family:Trattatello, fantasy, sans-serif; */
    background-color: #625e00;
    opacity: 0.8;
    background-image: radial-gradient(rgb(166, 118, 59) 0.5px, rgb(0, 0, 0) 0.5px);
    background-size: 10px 10px;
}

h1 {
    color: rgb(166, 118, 59);
    text-align: center;
}

h2 {
    font-size: 15px;
    color: rgb(166, 118, 59);
}

::placeholder {
    color: black;
    opacity: 1;
    font-family:Arial, Helvetica, sans-serif;
    /* font-family:Trattatello, fantasy, sans-serif; */
    font-size: 15px;
  }

h3 {
    color: rgb(166, 118, 59);
}

.hOneTaskmaster {
    font-size: 70px;
}

.thead {
    text-decoration: underline;
    text-underline-position: below;
    color: rgb(166, 118, 59);
}

#submit {
    border: 2px;
    border-style: solid;
    font-size: 15px;
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    /* font-family:Trattatello, fantasy, sans-serif ; */
    border-color: rgb(166, 118, 59);
    color: rgb(166, 118, 59);
}

.input {
    height: 40px;
    background-color: rgb(166, 118, 59);
    font-size: 15px;
    /* font-family:Trattatello, fantasy, sans-serif ; */
    font-family:Arial, Helvetica, sans-serif;

}

#taskInputField {
    width: 400px;
    color: black;
    border: 2px;
    border-style: solid;
    border-color: black;
}

.taskNotDoneRow {
    background-color: rgb(166, 118, 59);
    font-size: 25px;
}

.taskDoneRow {
    background-color: grey;
    text-decoration-line: line-through;
    font-size: 25px;

}

.taskNotDoneButton {
    border: 1px;
    border-style: solid;
    background-color: rgba(255, 0, 0, 0.25);
    border-color: red;
    font-family:Arial, Helvetica, sans-serif;

    /* font-family:Trattatello, fantasy, sans-serif ; */
    font-size: 15px;
}

.taskDoneButton {
    border: 2px;
    border-style: solid;
    font-size: 15px;
    background-color: rgba(0, 128, 0, 0.25);
    font-family:Arial, Helvetica, sans-serif;

    /* font-family:Trattatello, fantasy, sans-serif ; */
    border-color: green;
}

.deleteButton {
    border: 2px;
    border-style: solid;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    /* font-family:Trattatello, fantasy, sans-serif ; */
    font-family:Arial, Helvetica, sans-serif;

    border-color: black;
}

.tasklist {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(166, 118, 59);
    background-color: rgb(7, 3, 3);
    /* color: rgb(169, 2, 2); */
}



